name: Node.js CI

permissions:
  contents: read

on:
  push:
    branches: ["main"]
    paths:
      - src/**/*
      - tests/**/*
  pull_request:
    branches: ["main"]
    paths:
      - src/**/*
      - tests/**/*

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Code linting
        run: pnpm lint:check
      - name: Code formatting
        run: pnpm format:check
      - name: Unit testing with Jest
        run: pnpm test
      - name: TypeScript type checking and Next.js app building
        run: pnpm build
